<launch>

	<!-- Arguments -->
	<arg name="bagfile" default="bagfile.bag"/> <!-- Your bagfile here -->
	<arg name="camera" default="/stereo" /> <!-- The namespace where images are published -->
	<arg name="disparity_params" default="disparity_params.yaml"/> <!-- Camera calibration parameters -->

	<param name="/use_sim_time" value="true"/>

	<!-- Run the rosbag -->
	<node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile)"/>

	<!-- Run the ROS package stereo_image_proc -->
	<group ns="$(arg camera)" >
		<node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
	    	<rosparam file="$(arg disparity_params)"/>
		</node>
	</group>

	<!-- Run the viso2_ros package -->
	<node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">
		<remap from="stereo" to="$(arg camera)"/>
		<remap from="image" to="image_rect"/>
	</node>
	
</launch>
