<launch>
  
  <param name="/use_sim_time" value="true"/>
  <arg name="stereo" default="/stereo_down"/>
  <arg name="decimation" default="2" />
  <arg name="resolution" default ="full" />
  <arg name="nodelet_args" value="standalone image_proc/crop_decimate" />

  <arg name="disparity_params" value="$(find viso2_ros)/config/disparity/disparity_params_$(arg resolution)_x$(arg decimation).yaml" />

  <node pkg="nodelet" type="nodelet" name="image_proc_decimate_left_x$(arg decimation)" ns="$(arg stereo)" output="screen" respawn="true" args="$(arg nodelet_args)" >
    <param name="decimation_x" value="$(arg decimation)" />
    <param name="decimation_y" value="$(arg decimation)" />
    <remap from="camera" to="left" />
    <remap from="camera_out" to="scaled_x$(arg decimation)/left"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="image_proc_decimate_right_x$(arg decimation)" ns="$(arg stereo)" output="screen" respawn="true" args="$(arg nodelet_args)" >
    <param name="decimation_x" value="$(arg decimation)" />
    <param name="decimation_y" value="$(arg decimation)" />
    <remap from="camera" to="right" />
    <remap from="camera_out" to="scaled_x$(arg decimation)/right"/>
  </node>

  <!-- stereo image proc: debayer, rectification and 3D point clouds  --> 
  <group ns="$(arg stereo)/scaled_x$(arg decimation)" >
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="image_proc_left" respawn="true" output="screen">
      <rosparam file="$(arg disparity_params)"/>
      <param name="approximate_sync" value="true" />
    </node>
  </group>
  
</launch>
