<launch>

    <!-- PARAMETERS -->
    <param name="/use_sim_time" value = "true"/>

    <!-- Image parameters -->
    <arg name = "resolution" default = "full"/>
    <arg name = "camera" default = "/stereo_down"/>
    <arg name = "enable_decimate_x1" default = "false"/>
    <arg name = "enable_decimate_x2" default = "false"/>
    <arg name = "enable_decimate_x4" default = "true"/>

    <!-- BAGFILES -->

    <!-- Colonia -->
    <!-- <arg name = "bagfile" default = "/home/uib/bagfiles/colonia_sant_jordi/2020_11_03/11_17_42_2/12_25_27/images_2020-11-03-11-17-43_0.bag
                                        /home/uib/bagfiles/colonia_sant_jordi/2020_11_03/11_17_42_2/12_25_27/topics_2020-11-03-11-17-53_0.bag"/> -->

    <!-- Portals Vells -->
    <arg name = "bagfile" default = "/home/uib/bagfiles/portals/2021_02_25/14_41_06/images_2021-02-25-14-41-06_0.bag
                                        /home/uib/bagfiles/portals/2021_02_25/14_41_06/images_2021-02-25-14-47-26_1.bag
                                        /home/uib/bagfiles/portals/2021_02_25/14_41_06/images_2021-02-25-14-53-45_2.bag
                                        /home/uib/bagfiles/portals/2021_02_25/14_41_06/images_2021-02-25-15-00-04_3.bag
                                        /home/uib/bagfiles/portals/2021_02_25/14_41_06/images_2021-02-25-15-06-23_4.bag
                                        /home/uib/bagfiles/portals/2021_02_25/14_41_06/images_2021-02-25-15-12-43_5.bag
                                        /home/uib/bagfiles/portals/2021_02_25/14_41_06/topics_2021-02-25-14-41-52_0.bag"/>

    <!-- Portals Vells 2 -->
    <!-- <arg name = "bagfile" default = "/home/uib/bagfiles/portals/2021_02_25/15_56_25/images_2021-02-25-15-56-26_0.bag
                                        /home/uib/bagfiles/portals/2021_02_25/15_56_25/images_2021-02-25-16-02-45_1.bag
                                        /home/uib/bagfiles/portals/2021_02_25/15_56_25/images_2021-02-25-16-09-05_2.bag
                                        /home/uib/bagfiles/portals/2021_02_25/15_56_25/images_2021-02-25-16-15-24_3.bag
                                        /home/uib/bagfiles/portals/2021_02_25/15_56_25/images_2021-02-25-16-21-43_4.bag
                                        /home/uib/bagfiles/portals/2021_02_25/15_56_25/images_2021-02-25-16-28-03_5.bag
                                        /home/uib/bagfiles/portals/2021_02_25/15_56_25/topics_2021-02-25-15-56-37_0.bag"/> -->                                    

    <!-- Initial pose and orientation parameters -->   
    <!-- Colonia: -->
    <!-- <arg name = "t_x" default = "2.0403521254"/>
    <arg name = "t_y" default = "25.5584474051"/>
    <arg name = "t_z" default = "0.155384412659"/>
    <arg name = "q_x" default = "-0.0351823221144"/>
    <arg name = "q_y" default = "0.065756237088"/>
    <arg name = "q_z" default = "-0.230633968362"/>
    <arg name = "q_w" default = "0.970178485709"/> -->

    <!-- Portals Vells: -->
    <arg name = "t_x" default = "74.568675009499998"/>
    <arg name = "t_y" default = "18.5392068604"/>
    <arg name = "t_z" default = "5.4271955410699997"/>
    <arg name = "q_x" default = "0.02478365567"/>
    <arg name = "q_y" default = "-0.08955947924"/>
    <arg name = "q_z" default = "0.5741207366"/>
    <arg name = "q_w" default = "0.8134803316"/>

    <!-- Portals Vells 2: -->
    <!-- <arg name = "t_x" default = "96.823447300184483"/>
    <arg name = "t_y" default = "27.634088959622893"/>
    <arg name = "t_z" default = "4.580937746883074"/>
    <arg name = "q_x" default = "0.047096642579956"/>
    <arg name = "q_y" default = "0.062756133307070"/>
    <arg name = "q_z" default = "-0.994832118604264"/>
    <arg name = "q_w" default = "0.064440901478744"/> -->

    <!-- PLAY bagfile -->
    <node pkg = "rosbag" type = "play" name = "rosbag" args = "-r 1 --clock $(arg bagfile)" required="true" />

    <!-- RUN stereo image proc -->
    <include file = "$(find viso2_ros)/launch/stereo_3D.launch" if = "$(eval enable_decimate_x1 == true)">
        <arg name = "stereo" value = "$(arg camera)" />
        <arg name = "decimation" value = "1" />
        <arg name = "resolution" value = "$(arg resolution)" />
    </include>

    <include file = "$(find viso2_ros)/launch/stereo_3D.launch" if = "$(eval enable_decimate_x2 == true)">
        <arg name = "stereo" value = "$(arg camera)" />
        <arg name = "decimation" value = "2" />
        <arg name = "resolution" value = "$(arg resolution)" />
    </include>

    <include file = "$(find viso2_ros)/launch/stereo_3D.launch" if = "$(eval enable_decimate_x4 == true)">
        <arg name = "stereo" value = "$(arg camera)" />
        <arg name = "decimation" value = "4" />
        <arg name = "resolution" value = "$(arg resolution)" />
    </include>

    <!-- Static TF's -->
    <node pkg="tf" type="static_transform_publisher" name="turbot_to_stereo_stick" args="0.4 0.0 0.8 0.0 0.0 0.0 /turbot/base_link /turbot/stereo_stick 30" />
    <node pkg="tf" type="static_transform_publisher" name="stereo_stick_to_stereo_base" args="0.0 0.0 0.0 1.57 0.0 1.57 /turbot/stereo_stick /turbot/stereo_down/base 30" />
    <node pkg="tf" type="static_transform_publisher" name="stereo_base_to_stereo" args="0.0 0.0 0.0 0.0 0.0 -1.57 /turbot/stereo_down/base /turbot/stereo_down 30" />
    <node pkg="tf" type="static_transform_publisher" name="stereo_to_left" args="-0.06 0.0 0.0 0.0 0.0 0.0 /turbot/stereo_down /turbot/stereo_down/left_optical 30" />

    <!-- Viso2 -->
    <rosparam command="load" file="$(find viso2_ros)/config/viso2_stereo_parameters.yaml"/>
    <node pkg = "viso2_ros" type = "stereo_odometer" name = "stereo_odometer" output = "screen" if = "$(eval enable_decimate_x1 == true)">
        <remap from = "stereo" to = "$(arg camera)"/> <!-- Namespace -->
        <remap from = "image" to = "image_rect"/>  <!-- Image type -->
        <remap from = "/altitude_control" to = "/turbot/navigator/altitude_raw"/>
        <param name = "initial_translation_x" value = "$(arg t_x)"/>
        <param name = "initial_translation_y" value = "$(arg t_y)"/>
        <param name = "initial_translation_z" value = "$(arg t_z)"/>
        <param name = "initial_rotation_x" value = "$(arg q_x)"/>
        <param name = "initial_rotation_y" value = "$(arg q_y)"/>
        <param name = "initial_rotation_z" value = "$(arg q_z)"/>
        <param name = "initial_rotation_w" value = "$(arg q_w)"/>
    </node>

    <node pkg = "viso2_ros" type = "stereo_odometer" name = "stereo_odometer" output = "screen" if = "$(eval enable_decimate_x2 == true)">
        <remap from = "stereo" to = "$(arg camera)"/> <!-- Namespace -->
        <remap from = "image" to = "image_rect"/> <!-- Image type -->
        <remap from = "/stereo_down/left/image_rect" to = "/stereo_down/scaled_x2/left/image_rect"/>
        <remap from = "/stereo_down/right/image_rect" to = "/stereo_down/scaled_x2/right/image_rect"/> 
        <remap from = "/stereo_down/left/camera_info" to = "/stereo_down/scaled_x2/left/camera_info" />
        <remap from = "/stereo_down/right/camera_info" to = "/stereo_down/scaled_x2/right/camera_info" />
        <remap from = "/altitude_control" to = "/turbot/navigator/altitude_raw"/>
        <param name = "initial_translation_x" value = "$(arg t_x)"/>
        <param name = "initial_translation_y" value = "$(arg t_y)"/>
        <param name = "initial_translation_z" value = "$(arg t_z)"/>
        <param name = "initial_rotation_x" value = "$(arg q_x)"/>
        <param name = "initial_rotation_y" value = "$(arg q_y)"/>
        <param name = "initial_rotation_z" value = "$(arg q_z)"/>
        <param name = "initial_rotation_w" value = "$(arg q_w)"/>
    </node>

    <node pkg = "viso2_ros" type = "stereo_odometer" name = "stereo_odometer" output = "screen" if = "$(eval enable_decimate_x4 == true)">
        <remap from = "stereo" to = "$(arg camera)"/> <!-- Namespace -->
        <remap from = "image" to = "image_rect"/> <!-- Image type -->
        <remap from = "/stereo_down/left/image_rect" to = "/stereo_down/scaled_x4/left/image_rect"/>
        <remap from = "/stereo_down/right/image_rect" to = "/stereo_down/scaled_x4/right/image_rect"/> 
        <remap from = "/stereo_down/left/camera_info" to = "/stereo_down/scaled_x4/left/camera_info" />
        <remap from = "/stereo_down/right/camera_info" to = "/stereo_down/scaled_x4/right/camera_info" />
        <remap from = "/altitude_control" to = "/turbot/navigator/altitude_raw"/>
        <param name = "initial_translation_x" value = "$(arg t_x)"/>
        <param name = "initial_translation_y" value = "$(arg t_y)"/>
        <param name = "initial_translation_z" value = "$(arg t_z)"/>
        <param name = "initial_rotation_x" value = "$(arg q_x)"/>
        <param name = "initial_rotation_y" value = "$(arg q_y)"/>
        <param name = "initial_rotation_z" value = "$(arg q_z)"/>
        <param name = "initial_rotation_w" value = "$(arg q_w)"/>
    </node>

</launch>